
###################################
#         MAIN SETTINGS           #
###################################
ha_password: xxxxxxxxx
timezone: Europe/London
base_url: xxxxxxxxx
base_host: xxxxxxxxx
base_localname: xxxxxxxxx
ha_internal_ip: xxxxxxxxx
modbus_host: modbus.host
modbus_port: 9977
modbus_admin_pass: xxxxxxxxx

yandex_tts_key: xxxxxxxxx
###################################
#      RECORDER SETTINGS          #
###################################
mysql_url: xxxxxxxxx

###################################
#       ESPHOME SETTINGS          #
###################################
wifi_24_name: xxxxxxxxx
wifi_24_pass: xxxxxxxxx
esphome_pass: xxxxxxxxx
esphome_captive_pass: xxxxxxxxx

###################################
#       APPLETV SETTINGS          #
###################################
atv4_ip: xxxxxxxxx
atv4_login: xxxxxxxxx
atv4_credentials: xxxxxxxxx
  
###################################
#        PROXY SETTINGS           #
###################################
#proxy_url: xxxxxxxxx
proxy_url: xxxxxxxxx

###################################
#         MQTT SETTINGS           #
###################################
mqtt_ip: xxxxxxxxx
mqtt_user: xxxxxxxxx
mqtt_password: xxxxxxxxx
mqtt_clientid: xxxxxxxxx

###################################
#    XIAOMI AND AQARA SETTINGS    #
###################################
aqara1_mac: xxxxxxxxxxxx
aqara1_key: xxxxxxxxxxxxxxxx

mirobot_ip: xxxxxxxxx
mirobot_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

purifier_ip: xxxxxxxxx
purifier_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

breaser_ip: xxxxxxxxx
breaser_token: xxxxxxxxx

xiaomi_remote_host: xxxxxxxxx
xiaomi_remote_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
###################################
#                NEST             #
###################################
nest_client_id: xxxxxxxxx
nest_client_secret: xxxxxxxxx

###################################
#     NOTIFICATION SETTINGS       #
###################################
telegram_key: xxxxxxxxx
telegram_group_chat: 0
telegram_monster_chat: 0
telegram_sveta_chat: xxxxxxxxx
telegram_card_chat: xxxxxxxxx

###################################
#           TAGS                  #
###################################
tag_danil_pocket: xxxxxxxxx
tag_danil_keys: xxxxxxxxx
tag_svetlana_keys: xxxxxxxxx
tag_mama_keys: xxxxxxxxx
tag_test: xxxxxxxxx

###################################
#             ZONES               #
###################################
home_latitude: 1.0
home_longitude: 1.0
home_coords: xxxxxxxxx

work_latitude: 1.0
work_longitude: 1.0
work_coords: xxxxxxxxx

###################################
#       SYNOLOGY SETTINGS         #
###################################
syno_url: xxxxxxxxx
syno_ip: xxxxxxxxx
syno_user: xxxxxxxxx
syno_pass: xxxxxxxxx
rtsp_entrance: xxxxxxxxx

# ----------------------------------------------------------- #

###################################
#      APPDAEMON SETTINGS         #
###################################
ha_url: xxxxxxxxx
ha_token: xxxxxxxxx


###################################
#      NARODMON SETTINGS          #
###################################
narodmon_key: xxxxxxxxx

###################################
#         MOS.RU SETTINGS         #
###################################
mosru_login: xxxxxxxxx
mosru_pwd: xxxxxxxxx
mosru_token: xxxxxxxxx
mosru_session: xxxxxxxxx
#mosru_flat_id: xxxxxxxxx
mosru_flat_id: xxxxxxxxx
mosru_paycode: xxxxxxxxx
mosru_belorechenskaya_flat_id: xxxxxxxxx
mosru_belorechenskaya_paycode: xxxxxxxxx

###################################
#          Amazon Alexa           #
###################################
amazon_mail: xxxxxxxxx
amazon_pass: xxxxxxxxx
alexa_client_id: xxxxxxxxx
alexa_client_secret: xxxxxxxxx

###################################
#          Yandex Alice           #
###################################
alice_login: xxxxxxxxx
alice_pwd: xxxxxxxxx

###################################
#               Tuya              #
###################################
tuya_username: xxxxxxxxx
tuya_password: xxxxxxxxx

###################################
#             iCloud              #
###################################
icloud_mail: xxxxxxxxx
icloud_password: xxxxxxxxx

###################################
#            InfluxDb             #
###################################
influxdb_token: xxxxxxxxx