HCI_DEV=xxxxxxxxx
MISCALE_MAC=xxxxxxxxx
MQTT_HOST=xxxxxxxxx
MQTT_PREFIX=xxxxxxxxx
MQTT_USERNAME=xxxxxxxxx
MQTT_PASSWORD=xxxxxxxxx
MQTT_PORT=xxxxxxxxx
TIME_INTERVAL=xxxxxxxxx
MQTT_DISCOVERY=xxxxxxxxx
MQTT_DISCOVERY_PREFIX=xxxxxxxxx

USER1_GT=xxxxxxxxx
USER1_SEX=xxxxxxxxx
USER1_NAME=xxxxxxxxx
USER1_HEIGHT=xxxxxxxxx
USER1_DOB=xxxxxxxxx

USER2_LT=xxxxxxxxx
USER2_SEX=xxxxxxxxx
USER2_NAME=xxxxxxxxx
USER2_HEIGHT=xxxxxxxxx
USER2_DOB=xxxxxxxxx