{"domain_name":"zgw","wifi_ssid":"XXXX","wifi_pwd":"XXXX","mqtt":{"enable":true,"retlwt":false},"mqtt_server":"192.168.1.6","mqtt_port":1883,"mqtt_user":"XXXX","mqtt_pwd":"XXXX","mqtt_prefix":"ZigbeeBD0C","mqtt_retain":true,"time":{"enable":true,"ntp":"pool.ntp.org","tz":"UTC-3:00"},"na":{"enable":false,"server":"s1.slsys.io","port":26732},"hw":{"zigbee":{"rx":22,"tx":23,"channel":25,"pan_id":4660,"mqtt_raw":false,"mqtt_json":true,"mqtt_attr":false,"use_fn":true,"cache_states":true,"clear_states":true,"fn_pl":false,"trnum_pl":false,"model_pl":false},"btn_mode":33,"btn_mode_pullup":true,"led":{"red":4,"green":5,"blue":21,"mode":0,"rgb":[0,0,0]}}}
